body{
    margin:0;
    background-color: rgb(255, 251, 175);
}
h1{
    margin-left: 20px;
    font-family: 'Alexandria', sans-serif;
}
h3{
    margin-top: 0;
}
#ar{
    margin-right: 70px;
    font-family: 'Kanit', sans-serif;
}
#controls{
    text-align : right;
    margin-right: 60px;
}
#search{
    margin-right: 50px;
    font-family: 'Kanit', sans-serif;
}
#pop{
    visibility: hidden;
    border-style: groove;
    padding: 10px 10px 0 10px;
    display: inline-block;
    position: absolute;
    left: 40%;
    top:30%;
    background-color: #ffffff;
}
.star{
    color: red;
}
.b{
    margin: 2px;

}
.of{
    visibility: hidden;
}
#sc{
    position: relative;
    bottom: 30px;
}

#errPop{
   
    /*left: 45%;
    top:15%;*/
    visibility: hidden;
    padding: 10px 40px 30px 40px;
    
    border-style: double;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(255, 102, 102);
}
#okb{
margin-top:10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#popt{
    position: relative;
    top: 15px;
}

.ti{
    padding-left: 7px;
}
#tabd{
    text-align: center;
    position: relative;
    top: 50px;
    
}
#tabm{
    width: 100%;
    position:relative;
    bottom: 60px;
    
    border-style: groove;
    
}
th{
    border: solid;
    border-collapse: collapse;
    
}
#tabm,#tabs{
    border: solid;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
}
td,.b{
    font-family: 'Poppins', sans-serif;
}
.tm{
    border-style: groove;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
}

#tabs{
    visibility: hidden;
    width: 100%;
    position: absolute;
    top:0;
}

a{
    text-decoration: none;
}

#si{
    height: 20px;
}
#logo{
    height: 120px;
}
#title{
    display: inline-block;
    position: relative;
    bottom: 50px;
    left: 250px;
}
#pop{
    background-color: #64cbc7;
}
#deletPop{
    height: 100px;
    width: 180px;
    left: 700px;
    top: 280px;
    display: inline-block;
    position: absolute;
    border-style: groove;
    background-color: rgb(223, 223, 223);
    visibility: hidden;
}
#delcon{
    display: inline-block;
    position: relative;
    left: 25px;
    top: 30px;
    font-family: 'Karla', sans-serif;
}
#delcancel{
    display: inline-block;
    position: absolute;
    right:10px
}
#cx{
    color: aliceblue;
}
#delok{
    display: inline-block;
    position: absolute;
    left: 75px;
    bottom: 20px;
    font-size: 12;
    bottom: 15px;
   
}
#dok{
    color:  black;
}
#ndf{
    visibility: hidden;
    bottom : 0;
   color: #000000;

   position: absolute;
    top: 30px;
    left: 0px;
    height: 20px;
    border-top-width: 2px;
    padding-top: 5px;
    border-style: groove;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    width: 100%;
    right: 0px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
   
}
.sm,#sh{
    border-style: groove;
    
}

.btn1,#delcancel {
    background: #ff0000;
    background-image: -webkit-linear-gradient(top, #ff0000, #ff0000);
    background-image: -moz-linear-gradient(top, #ff0000, #ff0000);
    background-image: -ms-linear-gradient(top, #ff0000, #ff0000);
    background-image: -o-linear-gradient(top, #ff0000, #ff0000);
    background-image: linear-gradient(to bottom, #ff0000, #ff0000);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 3px;
    border: solid #000000 1px;
    text-decoration: none;
    position:absolute; 
    right:10px; 
        top:5px
  }
  
  .btn1:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

#ar {
    background: #34d9a5;
    background-image: -webkit-linear-gradient(top, #34d9a5, #82c4ed);
    background-image: -moz-linear-gradient(top, #34d9a5, #82c4ed);
    background-image: -ms-linear-gradient(top, #34d9a5, #82c4ed);
    background-image: -o-linear-gradient(top, #34d9a5, #82c4ed);
    background-image: linear-gradient(to bottom, #34d9a5, #82c4ed);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 8px 10px 8px;
    text-decoration: none;
    border-style: none;
  }
  
#ar:hover {
    background: #c6fc3c;
    background-image: -webkit-linear-gradient(top, #c6fc3c, #34c8d9);
    background-image: -moz-linear-gradient(top, #c6fc3c, #34c8d9);
    background-image: -ms-linear-gradient(top, #c6fc3c, #34c8d9);
    background-image: -o-linear-gradient(top, #c6fc3c, #34c8d9);
    background-image: linear-gradient(to bottom, #c6fc3c, #34c8d9);
    text-decoration: none;
  }

#search {
    background: #00b0aa;
    background-image: -webkit-linear-gradient(top, #00b0aa, #93b9cf);
    background-image: -moz-linear-gradient(top, #00b0aa, #93b9cf);
    background-image: -ms-linear-gradient(top, #00b0aa, #93b9cf);
    background-image: -o-linear-gradient(top, #00b0aa, #93b9cf);
    background-image: linear-gradient(to bottom, #00b0aa, #93b9cf);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 6px 6px 5px;
    text-decoration: none;
    border-style: none;
  }
  
#search:hover {
    background: #c6fc3c;
    background-image: -webkit-linear-gradient(top, #c6fc3c, #34c8d9);
    background-image: -moz-linear-gradient(top, #c6fc3c, #34c8d9);
    background-image: -ms-linear-gradient(top, #c6fc3c, #34c8d9);
    background-image: -o-linear-gradient(top, #c6fc3c, #34c8d9);
    background-image: linear-gradient(to bottom, #c6fc3c, #34c8d9);
    text-decoration: none;
  }  

#delok {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: #58c9a9;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border-style: none;
  }
  
#delok:hover {
    background: #8aff66;
    text-decoration: none;
  }